
<main>
        

        <img class="banner" src="../../../assets/diferenciales.jpg">
        
        <main>
            <section class="principal">

                <h2 class="titulo-principal"> Barbería Kmaleon</h2>

                <img class="puestos"  src="../../../assets/puestos.jpg" alt="">
    
                <p>Ubicada en el corazón de la ciudad, la <strong>Barbería Kmaleon</strong> cuenta con un equipo entrenado en las últimas técnicas de estilo de cabello, asegurandonos que nuestros clientes se sientan más que satisfechos con sus resultados.</p>
    
                <p><strong>"podrás recibir un tratamiento de peluquería de primera clase que te dejará con un look único y refrescante".</strong></p>
    
                <p>"Cortes de pelo de primer nivel para todos los estilos Kmaleon."</p> 
    
            </section>

            <section class="mapa">
                <h3 class="titulo-principal">Nuestra Ubicación</h3>
                <p>Ubicación exacta en el siguiente mapa</p>

                <div class="mapa-contenido">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34784.869470159!2d-46.65499870427411!3d-23.593248407555798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a2b2ed7f3a1%3A0xab35da2f5ca62674!2sCaelum%20-%20Education%20and%20Innovation!5e0!3m2!1ses-419!2sbr!4v1602972945026!5m2!1ses-419!2sbr" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>


            </section>
            
            <section class="diferenciales">
    
                <h3 class="titulo-principal">Diferenciales</h3>
            
                <div class="contenido-diferenciales">
                    <ul class="lista-diferenciales">
                        <li class="items">Atención personalizada</li>
                        <li class="items">Espacios de lujo</li>
                        <li class="items">Localización</li>
                        <li class="items">Profesionales calificados</li>
                        <li class="items">Puntualidad</li>
                        <li class="items">Limpieza</li>
                    </ul>
                </div>
                <div class="video">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/wcVVXUV0YUY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
            </section>


            
        </main>
    

